<%- include('../includes/start.ejs') %>

<%- include('../includes/navigation.ejs') %>

<div class="container w-50 my-5">
  <% if(errorMessage) { %>
    <div class="text-danger"><%= errorMessage %></div>
  <% } %>
    <h2 class="text-success ">Login</h2>
    <form action="/login" method="POST">
      
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input value="<%= oldInput.uemail %>" type="email" class="form-control  <%= validationErrors.find(e=>e.param === 'uemail') ? 'invalid-input' :'' %>" id="exampleInputEmail1" name="uemail" aria-describedby="emailHelp" placeholder="Your Email">
          </div>
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input value="<%= oldInput.upassword %>" type="password" class="form-control  <%= validationErrors.find(e=>e.param === 'upassword') ? 'invalid-input' :'' %>" id="exampleInputPassword1" name="upassword" placeholder="Your Password">
          </div>
        <div class="mb-2">
          <small><a href="/reset" class="pt-2" style="text-decoration: none;text-align: end;">Forgot Password ?</a></small><br>
          <small><a href="/signup" class="pt-2" style="text-decoration: none;">New to MyShop ? create an account</a></small><br>
          <button type="submit" class="btn btn-success my-2">Login</button>
        </div>
        
    </form>
</div>

<%- include('../includes/end.ejs') %>