<%- include('../includes/start.ejs') %>

<%- include('../includes/navigation.ejs') %>

<div class="container w-50 my-5">
    <form action="/new-password" method="POST">
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label">New Password</label>
            <input value="<%= oldInput.upassword %>" type="password" class="form-control  <%= validationErrors.find(e=>e.param === 'upassword') ? 'invalid-input' :'' %>" id="exampleInputPassword1" name="upassword" placeholder="Your New Password">
          </div>
        <div class="mb-2">
          <input type="hidden" value="<%= userId %>" name="userId">
          <input type="hidden" value="<%= passwordToken %>" name="passwordToken">
          <button type="submit" class="btn btn-success my-2">Update Password</button>
        </div>
        
    </form>
</div>

<%- include('../includes/end.ejs') %>