</head>
<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Myshop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link <%= (path=='/') ? 'text-primary' :'' %>" aria-current="page" href="/">Shop</a>
          </li>
          <% if(isAuthenticated) { %>
          <li class="nav-item">
            <a class="nav-link <%= (path=='/cart') ? 'text-primary' :'' %>" aria-current="page" href="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= (path=='/orders') ? 'text-primary' :'' %>" aria-current="page" href="/orders">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= (path=='/admin/add-product') ? 'text-primary' :'' %>" aria-current="page" href="/admin/add-product">Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= (path=='/admin/admin-product') ? 'text-primary' :'' %>" aria-current="page" href="/admin/admin-product">Admin Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= (path=='/admin/admin-product-category') ? 'text-primary' :'' %>" aria-current="page" href="/admin/admin-product-category">Category</a>
          </li>
          <% } %>
        </ul>
        <% if(!isAuthenticated) { %>
        <div class="mx-2">
          <a href="/signup" class="btn btn-outline-success">Signup</a>
          <a href="/login" class="btn btn-outline-success mx-2">Login</a>
        </div>
        <% } else { %>
        <div class="mx-2">
          <a href="/logout" class="btn btn-outline-success">Logout</a>
        </div>
        <% } %>
      </div>
     
    </div>
  </nav>